<table class='table table-striped recuits'>
  <thead><tr><th>Name</th><th>Phone</th><th>Email</th></tr></thead>
  <tbody>
  {{#each recuit}}
    {{> list_recuit}}
  {{/each}}
</tbody>
</table>
<nav>
  <ul class="pagination">
    {{> pagination}}
  </ul>
</nav>
