<nav class="navbar navbar-default" role="navigation">
  <ul class='nav navbar-nav'>
    <li role='presentation' class='active navLink' l-action='listRecuits'><a>List Recuits</a></li>
    <li role='presentation' class='navLink' l-action='newRecuit'><a>Add Recuit</a></li>
  </ul>
</nav>
